{% extends 'base.html' %}

{% block content %}

<!--MY JOURNEY SECTION-->
<section class="mr-32 ml-32 mt-8 p-6 md:p-10 mb-8">
    
    <!--Title-->
    <h1 class="text-5xl font-bold text-[#1d1d1d] mt-12 mb-6 ml-8">My Journey</h1>
    <hr>
    
    <!--Content-->
    <div class="flex flex-col md:flex-row md:gap-8 mt-4">
        
        <div class="w-full md:w-2/3 flex-shrink-0 mt-2 ml-4">      
            <p class="text-xl font-light text-left text-[#1d1d1d] mb-2">
                Hello! I'm Mauricio Gomez, an IT Support Specialist who is passionate about solving problems and helping people.
            </p>
            <p class="text-xl font-light text-left text-[#1d1d1d] mb-2">
                My journey into tech was sparked by a challenge at PriceSmart. Our team was stuck with slow, manual Excel reports, so I took the initiative to teach myself DOMO, an unused tool we had. I ended up automating our processes, turning hours of work into minutes, and discovering my passion for using technology to help a team work better.
            </p>
            <p class="text-xl font-light text-left text-[#1d1d1d] mb-2">
                To build on this foundation, I've since earned several professional certifications in IT Support and Cybersecurity
            </p>
            <p class="text-xl font-light text-left text-[#1d1d1d] mb-2">
                I combine these technical skills with a strong background in customer service. As a fluent speaker of English, French, and Spanish, I am driven to provide clear, patient, and empathetic support to diverse teams. I'm currently seeking a challenging IT Support role where I can put my skills to work.
            </p>
        </div>
        <!--Professional picture-->
        <div class="w-3/4 md:w-1/3 flex-shrink-0 min-w-0">
            <img 
                src="{{ url_for('static', filename='Profile_Picture.png') }}" 
                alt="Mauricio Gomez"
                class="rounded-full shadow-2xl w-3/4 h-auto object-cover mt-6 ml-4 mr-6"
            >

        </div>
    </div>
</section>

<!--EDUCATION AND CERTIFICATES SECTION-->
<section class="bg-[#1E1E4B] p-6 md:p-10">
    <div class="mr-32 ml-32">
        <!--TITLE-->
        <h1 class="text-5xl font-bold text-white mt-2 mb-6 ml-8">Education & Certificates</h1>
            <hr>
            <div class="flex flex-col md:flex-row md:gap-8 mt-4">     
                
                <!--IMAGE SECTION 2/5-->
                <div class="w-full h-auto md:w-2/5 flex-shrink-0 min-w-0">
                    <img 
                        src="{{ url_for('static', filename='education_and_progress.png') }}" 
                        alt="Education and progress"
                        class=" w-full h-auto object-cover mt-6 ml-4"
                    >
                </div>
                
                <!--CONTENT SECTION 3/5-->
                <div class="w-full h-auto md:w-3/5 flex-shrink-0">

                    <!--FORMAL EDUCATION SECTION-->
                    <div class="w-full mt-4 ml-4">
                        <h2 class="font-semibold text-white text-2xl">
                            Formal Education
                        </h2>
                    </div>

                    <div class="w-full ml-4 mt-2">
                        <p class="w-full h-auto font-light text-white text-xl">
                            Universidad Surcolombiana - Business Administration
                        </p>
                        <p class="w-full h-auto font-regular text-white text-base">
                            Huila - Colombia 
                        </p>
                    </div>

                    <!--COURSES AND CERTIFICATES SECTION-->
                    <div class="flex flex-col md:flex-row mt-4">
                        
                        <!--COURSES SUB-SECTION-->
                        <div class="md:1/2 w-full h-auto">
                            <div class="w-full ml-4 mb-2">
                                
                                <!--Title-->
                                <h2 class="font-semibold text-white text-2xl">
                                    Courses
                                </h2>
                            </div>

                            <div class="w-full h-auto ml-4">
                                
                                <!--GOOGLE CYBERSECURITY BAGDE-->
                                <a href="https://www.credly.com/badges/7ec5a466-8f7b-4359-8cb6-9a94df42844e/public_url" target="_blank" rel="noopener noreferrer group block">
                                    <p class="w-full h-auto font-light text-white text-xl">
                                        Google Cybersecurity
                                    </p>
                                    <p class="w-full h-auto font-regular text-white text-base">
                                        September - 2025
                                    </p>
                                </a>
                                
                                <!--IBM IT SUPPORT ESPECIALIST CERTIFICATE-->
                                <a href="https://www.coursera.org/account/accomplishments/professional-cert/2ZUSE3GDVT2C" target="_blank" rel="noopener noreferrer group block">
                                    <p class="w-full h-auto font-light text-white text-xl mt-2">
                                        IBM IT Support Specialist
                                    </p>
                                    <p class="w-full h-auto font-regular text-white text-base">
                                        May - 2025
                                    </p>
                                </a>

                                <!--INFORMACION TECHNOLOGY (IT) AND CLOUD FUNDAMENTALS CERTIFICATE-->
                                <a href="https://www.coursera.org/account/accomplishments/professional-cert/2ZUSE3GDVT2C" target="_blank" rel="noopener noreferrer group block">
                                    <p class="w-full h-auto font-light text-white text-xl mt-2">
                                        Information Technology (IT) and Cloud Fundamentals
                                    </p>
                                    <p class="w-full h-auto font-regular text-white text-base">
                                        May - 2025
                                    </p>
                                </a>
                                
                                <!--FOUNDATIONS OF USER EXPERIENCE (UX) DESIGN CERTIFICATE-->
                                <a href="https://www.coursera.org/account/accomplishments/verify/KX2RAE8ADYA1" target="_blank" rel="noopener noreferrer group block">
                                    <p class="w-full h-auto font-light text-white text-xl mt-2">
                                        Foundations of User Experience (UX) Design
                                    </p>
                                    <p class="w-full h-auto font-regular text-white text-base">
                                        May - 2025
                                    </p>
                                </a>

                            </div>
                        </div>
                        <!--CERTIFICATES SUB-SECTION-->
                        <div class="md:1/2 w-full h-auto">
                            <div class="w-full ml-4">
                                <!--Title-->
                                <h2 class="font-semibold text-white text-2xl">
                                    Certificates
                                </h2>
                            </div>
                              
                            <!--COMPTIA FUNDAMENTAL ITF+-->
                            <div class="w-full h-auto ml-4">
                                <!--COMPTIA FUNDAMENTALS+ (ITF+)-->
                                <a href="https://www.credly.com/badges/4b6df882-a190-4b95-a3c8-91cd540b0ec7/public_url" target="_blank" rel="noopener noreferrer group block">
                                    <p class="w-full h-auto font-light text-white text-xl mt-2">
                                        CompTIA IT Fundamentals+ (ITF+)
                                    </p>
                                    <p class="w-full h-auto font-regular text-white text-l">
                                        June - 2025
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div> 
</section>

<!--PROFESSIONAL EXPERIENCE SECTION-->
<section class="bg-white p-6 md:p-10">
    <div class="mr-32 ml-32">
        <!--TITLE-->
        <h1 class="text-5xl font-bold text-[#1d1d1d] mt-4 mb-6 ml-8">Professional experience</h1>
        <hr>

        <!--VENDOR PROMOTION ANALYST-->
        <div class="w-full p-4">
            <div class="flex flex-col md:flex-row md:gap-8 mt-4">

                <!--YEAR-->
                <div class="flex w-full md:w-1/4">
                    <p class="mt-2 ml-5 font-medium text-base">
                        2023 - 2021
                    </p>
                </div>
                <div class="flex md:w-3/4">
                    <div>
                        <p class="w-full font-semibold text-[#1d1d1d] text-xl mt-2">
                            Vendor Promotion Analyst · PriceSmart [Remote]
                        </p>
                        <p class="w-full mt-2 font-regular text-[#1d1d1d]">
                            Collected, analyzed, and organized sales to provide insights. Developed automated dashboards and regular sales reports to analze customer trends sales and KPIs
                        </p>
                        <div class="flex flex-col md:flex-row mt-1">
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                Python
                            </p>
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                SQL
                            </p>
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                ETL
                            </p>
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                Excel
                            </p>
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                Data Analysis
                            </p>
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                Dashboards
                            </p>
                        </div>
                    </div>    
                </div>
            </div>
        </div>


        <!--COSTUMER SERVICE SUPPORT-->
        <div class="w-full p-4">
            <div class="flex flex-col md:flex-row md:gap-8 mt-4">

                <!--YEAR-->
                <div class="flex w-full md:w-1/4">
                    <p class="mt-2 ml-5 font-medium text-base">
                        2020 - 2021
                    </p>
                </div>
                <div class="flex md:w-3/4">
                    <div>
                        <p class="w-full font-semibold text-[#1d1d1d] text-xl mt-2">
                            Customer Service Agent · Sitel [Remote]
                        </p>
                        <p class="w-full mt-2 font-regular text-[#1d1d1d]">
                            Scheduled pickups, tracked packages, and answered service questions. Advised customers on service options and continuously improved satisfaction through conflict resolution.
                        </p>
                        <div class="flex flex-col md:flex-row mt-1">
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                Costumer Service
                            </p>
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                Troubleshooting
                            </p>
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                Conflict Resolution
                            </p>
                        </div>
                    </div>    
                </div>
            </div>
        </div>


        <!--GIS TECHNICIAN-->
        <div class="w-full p-4">
            <div class="flex flex-col md:flex-row md:gap-8 mt-4">

                <!--YEAR-->
                <div class="flex w-full md:w-1/4">
                    <p class="mt-2 ml-5 font-medium text-base">
                        2013 - 2018
                    </p>
                </div>
                <div class="flex md:w-3/4">
                    <div>
                        <p class="w-full font-semibold text-[#1d1d1d] text-xl mt-2">
                            GIS Technician · Alcanos de Colombia S.A. E.S.P
                        </p>
                        <p class="w-full mt-2 font-regular text-[#1d1d1d]">
                            Digitized vector maps for the oil and gas industry using AutoCAD Map. Created georoutes for readings and provided dedicated support to internal and external clients.
                        </p>
                        <div class="flex flex-col md:flex-row mt-1">
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                GIS
                            </p>
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                AutoCAD Map
                            </p>
                            <p class="bg-[#1E1E4B] text-white font-medium text-sm px-3 py-1 rounded-full mr-1">
                                Technical Support
                            </p>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-[#B2B2DE] py-3">
    <div class="text-center mb-3 mt-6 mt-2">
        <a href="mailto:zemog150790@gmail.com" class="inline-block bg-[#8C271E] text-white font-semibold py-3 px-8 rounded-lg shadow-lg hover:bg-[#8C271E]/90 transition duration-300 text-lg">
            Get In Touch
        </a>        
    </div>
    <p class="text-center font-light text-gray-500 text-base mt-4 mb-2">
        Built with Python & Flask, styled with Tailwind CSS.
    </p>
    <p class="text-center text-sm font-light text-gray-500">
        © 2025 Mauricio Gomez. All rights reserved.
    </p>
    <p class="text-center text-sm font-light text-gray-500 mb-6">
        Code licensed under the
        <a href="https://opensource.org/licenses/MIT" target="blank" rel="noopener noreferrer" class="underline">
            MIT License
        </a>.
    </p>
</footer>
{% endblock %}